.card-container {
	flex-direction: column;
	background-color: azure;
	border: 1px solid grey;
	border-radius: 5px;
	padding: 25px;
	cursor: pointer;
	-moz-osx-font-smoothing: greyscale;
	backface-visibility: hidden;
	transform: translateZ(0);
	transition: transform 0.25s ease-out;
}

.card-container:hover {
	transform: scale(1.05);
}

.pokemon-thumbnail {
	height: 180px;
	width: 180px;
}

.pokemon-type {
	height: 35px;
}
